# Django
SECRET_KEY=YOUR_SECRET_KEY
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=english_app
DB_USER=english
DB_PASSWORD=english
DB_HOST=db
DB_PORT=5432

# Postgres container variables (required for initialization)
POSTGRES_DB=english_app
POSTGRES_USER=english
POSTGRES_PASSWORD=english

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Superuser (required)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@gmail.com
DJANGO_SUPERUSER_PASSWORD=admin

