# ================
# Dev Environment
# ================
# django
DEBUG=true

# frontend local redirect url
OAUTH2_GOOGLE_DEV_REDIRECT_URI=http://localhost:3000/callback/google
OAUTH2_FACEBOOK_DEV_REDIRECT_URI=http://localhost:3000/callback/facebook

# google cloud storage
GCS_DEV_BUCKET=YOUR_DEV_BUCKET

# ======================
# Production Environment
# ======================
# google cloud storage
GCS_PRODUCTION_BUCKET=YOUR_PRODUCTION_BUCKET

# preview environments - https://{vercel-deploy-url}/callback/google - dev branch redirect url example
# OAUTH2_GOOGLE_DEV_REDIRECT_URI=https://eng-web-fe-git-dev-nens-projects-4c1a252e.vercel.app/callback/google
# OAUTH2_FACEBOOK_DEV_REDIRECT_URI=https://eng-web-fe-git-dev-nens-projects-4c1a252e.vercel.app/callback/facebook

# production environment
OAUTH2_GOOGLE_PRODUCTION_REDIRECT_URI=YOUR_PRODUCTION_BASE_URI/callback/google
OAUTH2_FACEBOOK_PRODUCTION_REDIRECT_URI=YOUR_PRODUCTION_BASE_URI/callback/facebook

# =============================
# Both Dev and Test Environment
# =============================
SECRET_KEY=YOUR_SECRET_KEY
ALLOWED_HOSTS=localhost,127.0.0.1

# database settings
DB_ENGINE=django.db.backends.postgresql
DB_NAME=english_app
DB_USER=english
DB_PASSWORD=english
DB_HOST=db
DB_PORT=5432

# database initialization
POSTGRES_DB=english_app
POSTGRES_USER=english
POSTGRES_PASSWORD=english

# email
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=YOUR_EMAIL_HOST_USER
EMAIL_HOST_PASSWORD=YOUR_EMAIL_HOST_PASSWORD
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend

# redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# superuser
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@gmail.com
DJANGO_SUPERUSER_PASSWORD=admin

# google oauth2
OAUTH2_GOOGLE_KEY=YOUR_GOOGLE_OAUTH2_KEY
OAUTH2_GOOGLE_SECRET=YOUR_GOOGLE_OAUTH2_SECRET
OAUTH2_GOOGLE_SCOPE=https://www.googleapis.com/auth/userinfo.email,https://www.googleapis.com/auth/userinfo.profile

# facebook oauth2
OAUTH2_FACEBOOK_KEY=YOUR_FACEBOOK_OAUTH2_KEY
OAUTH2_FACEBOOK_SECRET=YOUR_FACEBOOK_OAUTH2_SECRET
OAUTH2_FACEBOOK_SCOPE=email,public_profile

# google cloud
GOOGLE_APPLICATION_CREDENTIALS=/app/YOUR_GCS_SERVICE_ACCOUNT_KEY_FILE.json
GCS_PROJECT_ID=YOUR_GCS_PROJECT_ID
GCS_PUBLIC_BASE_URL=https://storage.googleapis.com